nav(
  class="navbar"
  role="navigation"
  aria-label="main navigation"
)
  .navbar-brand
    a(
      class="navbar-item"
      href="/"
      style="font-weight:bold"
    ) N Clipboard
    a(
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    )
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  .navbar-menu
    .navbar-start

    .navbar-end
      .navbar-item
        a.has-text-black(href="") Documentation 
      .navbar-item
        a.has-text-black(href="https://github.com/N-Clipboard/N-Clipboard") Github
      .navbar-item
        a.button.is-primary.is-small(href="https://github.com/N-Clipboard/N-Clipboard/releases") Download